@import url("webfont.css");

html, body {
	background-color: black;
	color: white;
	font-family: "8-bit Operator Mono", Fixedsys, sans-serif;
	font-weight: normal;
	font-size: 18px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

#gamebox{
	width: 640px;
	position: relative;
	margin: 40px auto;
	text-align: center;
}

#msgbox{
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: "Mars Needs Cunnilingus", monospace;
}

canvas { background-color: black; }

#textbox {
	text-align: left;
	position: absolute;
	white-space: pre-line;
	width: 400px;
	left: 120px;
	top: 300px;
	font-size: 30px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

#controlbox {
	position: absolute;
	width: 320px;
	height: 480px;
	left: 160px;
	top: 0px;
	display: none;
	white-space: pre-line;
}
